body {
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
}

/* dialog 활성화 버튼 */
.set-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

/* custom tag: common-dialog */
common-dialog {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: none;
}

common-dialog.active {
  display: block;
}

/* dialog */
.dialog-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 420px;
  padding: 30px 0;
  background: white;
}

/* dialog title */
form h1 {
  margin: 0 0 20px 0;
}

form h1 input {
  font-size: 20px;
}

/* dialog rows */
form label {
  display: inline-block;
  width: 25%;
}

form input {
  display: inline-block;
  box-sizing: border-box;
  width: calc(75% - 4px);
}

form input:read-only {
  border: 2px solid transparent;
  background: none;
}

form input:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  list-style: none;
}

/* dialog cancel, save, edit, close buttons */
.btns {
  margin-top: 80px;
  text-align: right;
}

.btns button {
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid rgb(118, 118, 118);
  background: none;
  cursor: pointer;
}
